/*
  Theme: Muin (Custom Licensed Version)
  © Banafsijy.com – Single Project License – Do Not Redistribute
*/

/**
 * @file
 * Table sort indicator.
 */

th.is-active img {
  display: inline;
}
td.is-active {
  background-color: #ddd;
}
